{{ define "title" }}Winappoint - Logout{{end}}

{{ define "extra-js" }}
<script>
    setTimeout(function(){
        window.location = "{{ template "base-url" . }}/"
    }, 5000)
</script>
{{ end }}

{{ define "simple-body-subbody" }}
<div class="ui stacked segment">
    You are now logged out. You will be automaticly redirected to the landing page in 5 seconds. 
    Or click this <a href="{{ template "base-url" . }}/">link</a> to go there now 
</div>  
{{ end}}